*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*16 px === 1 rem 
  this sets the 1rem===10px
  */ }

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-family: "Red Hat Display", sans-serif; }

.text-color-orange {
  color: #ff764d !important; }

.text-color-blue {
  color: #0000ff !important; }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  width: 100%;
  padding: 0.5rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .navigation__logo {
    padding: 0 3rem;
    width: 10%; }
    .navigation__logo--link {
      display: inline-block; }
      .navigation__logo--link svg {
        width: 5.75rem;
        height: 2.75rem; }
  .navigation__menu {
    width: 90%;
    display: flex;
    justify-content: space-between; }
    .navigation__menu--right {
      background-color: red;
      border: 2px solid black; }
    .navigation__menu--items {
      list-style: none;
      display: inline-block;
      font-size: 2rem; }
      .navigation__menu--items:not(:last-child) {
        margin-right: 2rem; }
      .navigation__menu--items .material-symbols-outlined {
        color: inherit;
        font-size: 18px;
        font-weight: 900; }

.header {
  padding: 3rem 7rem; }
  .header__menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    color: black; }
    .header__menu ul li:not(:last-child) {
      margin-right: 6rem; }
    .header__menu ul li a {
      text-decoration: none;
      color: inherit; }
  .header__logo {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative; }
    .header__logo--image {
      height: 100%;
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center; }
    .header__logo--text {
      font-size: 15rem;
      color: #ff764d;
      position: absolute;
      letter-spacing: 1rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      font-family: 'Joan', serif; }
